@model Store.Models.Product


@{

}





<div class="container-fluid" m-3>
    <h2>Dodaj produkt</h2>
    <form asp-controller="Product" asp-action="Add" method="post">
        <div class="mb-3">
            <span asp-validation-for="ProductName" class="text-danger"></span>
            <label asp-for="ProductName">Nazwa Produktu</label>
            <input class="form-control" asp-for="ProductName" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Price" class="text-danger"></span>
            <label asp-for="Price">Cena</label>
            <input class="form-control" asp-for="Price" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Size" class="text-danger"></span>
            <label asp-for="Size">Rozmiar</label>
            <input class="form-control" asp-for="Size" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Description" class="text-danger"></span>
            <label asp-for="Description">Opis</label>
            <input class="form-control" asp-for="Description" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Zapisz</button>
        </div>
    </form>
</div>




